.container {
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .header p {
    font-size: 14px;
    color: #777;
  }
  
  .topControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; /* Adds a bottom border line */
    padding-bottom: 20px; /* Adds some space below the content */
  }
  
  .filterToggle {
    cursor: pointer;
    color: #777;
    text-decoration: underline;
  }
  
  .sortBy {
    cursor: pointer;
    color: #777;
    font-weight: bold;
  }
  
  .mainContent {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    margin-right: 20px;
  }
  
  .sidebar h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex: 1;
  }
  
  .productCard {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .productImage {
    position: relative;
  }
  
  .productImage img {
    width: 100%;
    height: auto;
  }
  
  .newProductBadge, .outOfStockBadge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 12px;
  }
  .productCard {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 15px;
    background-color: #fff;
  }
  
  .productInfo h4 {
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
  }
  .heartIcon {
    font-size: 18px; /* Adjust the size to match the design */
    cursor: pointer;
    color: #ccc; /* Default color for the heart icon */
    margin-left: 10px; /* Space between product name and heart icon */
    transition: color 0.3s ease; /* Smooth transition */
  }
  
  .filled {
    color: red; /* Color when the heart is clicked */
  }